/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background: #DCDFE1;
    margin: 0px;
}

nav {
    background: #ffffff;
    position: fixed;
    width 100%;
    top: 0;
    right: 0;
}

h1 {
    color: #2F363D;
    background: #99B799;
}

p {
    color: #535F6B;
}

ul {
    color: #778899;
    margin: 0px;
    padding: 20px 0px 20px 0px;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 32px;
}

a {
    text-decoration: none;
}

footer li {
    background: red;
    display: list-item;
}

footer li:first-child {
    background: yellow;
}

footer li:nth-child(2) {
    background: blue;
}

footer li:nth-child(2n+1) {
    background: hotpink;
}

.color {
    color: blue;
}

.container {
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
}

.bg-color {
    background: #ffffff;
}

#newcolorred {
    color: red;
}

input[type="email"]{
  background-color:white;
  height: 30px;
  width: 50%;
}

input[type="text"]{
  background-color:white;
  height: 30px;
  width: 50%;
}

div.container{
  padding-top: 40px;
}

.dropdown{
  position: relative;
}

.dropdown li{
  display: list-item;
}

.dropdown > ul{
  position: absolute;
  top: 10px;
  left: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease;
}

.dropdown:hover > ul{
  height: 100px;
  padding: 10px 0px 0px 0px;
}

@media screen and (max-width: 414px){
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 100%;
  }

}

#newcolorred {
    color: red;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects > section{
  width: 90%;
  max-width: 200px;
  height: 300px;
  background: pink;
  margin: 0;
  padding: 0;
}

#prompt .emphasis{
	color: darkred;
	font-weight: bold;
	font-size: 24px;
}
