body{
    font-family: Helvetica, Arial, sans-serif;
    background: #DCDFE1;
    margin: 0px;
}

nav {
    background: #ffffff;
    position: fixed;
    width 100%;
    top: 0;
    right: 0;
}

h1 {
    color: #2F363D;
    background: #99B799;
}

p {
    color: #535F6B;
}

ul {
    color: #778899;
    margin: 0px;
    padding: 20px 0px 20px 0px;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 32px;
}

a {
    text-decoration: none;
}

footer li {
    background: red;
    display: list-item;
}

footer li:first-child {
    background: yellow;
}

footer li:nth-child(2) {
    background: blue;
}

footer li:nth-child(2n+1) {
    background: hotpink;
}

.color {
    color: blue;
}

.container {
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
}

.bg-color {
    background: #ffffff;
}

#newcolorred {
    color: red;
}

input[type="email"]{
  background-color:white;
  height: 30px;
  width: 50%;
}

input[type="text"]{
  background-color:white;
  height: 30px;
  width: 50%;
}

div.container{
  padding-top: 40px;
}

.dropdown{
  position: relative;
}

.dropdown li{
  display: list-item;
}

.dropdown > ul{
  position: absolute;
  top: 10px;
  left: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease;
}

.dropdown:hover > ul{
  height: 100px;
  padding: 10px 0px 0px 0px;
}

@media screen and (max-width: 414px){
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 100%;
  }

}
